In [1]:
#Step 1: import libraries
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [2]:
#step 2: load dataset
df = pd.read_csv("cgpa.csv")
df.head(3)

   study_hours  play_hours  cgpa
0            7           2   7.0
1            8           2   7.8
2           10           3   8.0
3           11           1   9.0
4           11           4   8.5
5           13           2   9.5
6           14           1   9.8