In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [8]:
df = pd.read_csv("homeprices_multivariable_linear_regression.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
#To checking missing values
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [4]:
#To handle the missing value
#Method 1: to drop the missing value column
# df.dropna(inplace=True)

In [21]:
#Method 2: I can fill the Missing value with Mean, Median and mode
import math

median_data = math.floor(df.bedrooms.median())
df.bedrooms =df.bedrooms.fillna(median_data)
df.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [22]:
df.isnull().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64